@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="Menu_List">
    <div class="Menu_List_Container">
        <div>
            <div class="topic Dashboard">
                <i class="fa-solid fa-rocket icon"></i>
                <span>Dashboard</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <div id="column-Dashboard" class="column">
                <a href="javascript:void(0)" onclick="loadView('Admin/Dashboard/Overview')">Tổng quan</a>
                <a href="javascript:void(0)" onclick="loadView('Admin/Dashboard/Revenue_chart')">Biểu đồ doanh thu</a>
                <a href="javascript:void(0)" onclick="loadView('Admin/Dashboard/Recent_activity')">Hoạt động gần đây</a>
            </div>
        </div>
        <div>
            <div class="topic StoreManagement">
                <i class="fa-solid fa-bars-progress icon"></i>
                <span>Quản lý cửa hàng</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <div id="column-StoreManagement" class="column">
                <a href="javascrip::void(0)" onclick="loadView('Admin/StoreManagement/List_of_stores')">Danh sách cửa hàng</a>
                <a href="javascrip::void(0)" onclick="loadView('Admin/StoreManagement/Add_new_store')">Thêm cửa hàng</a>
                <a href="#">Chi nhánh Mixue</a>
            </div>
        </div>
        <div>
            <div class="topic Product">
                <i class="fa-brands fa-product-hunt icon"></i>
                <span>Sản phẩm</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>          

            <div id="column-Product" class="column">
                <a href="#">Danh sách sản phẩm</a>
                <a href="#">Thêm sản phẩm mới</a>
                <a href="#">Quản lý tồn kho</a>
                <a href="#">Danh mục sản phẩm</a>
            </div>
        </div>
        <div>
            <div class="topic Staff">
                <i class="fa-solid fa-clipboard-user icon"></i>
                <span>Nhân viên</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <div id="column-Staff" class="column">
                <a href="#">Danh sách nhân viên</a>
                <a href="#">Chấm công</a>
                <a href="#">Phân quyền</a>
            </div>
        </div>
        <div>
            <div class="topic Order">
                <i class="fa-solid fa-ice-cream icon"></i>
                <span>Đơn hàng</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>

            <div id="column-Order" class="column">
                <a href="#">Đơn hàng mới</a>
                <a href="#">Đơn hàng đang xử lý</a>
                <a href="#">Lịch sử đơn hàng</a>
            </div>
        </div>
        <div>
            <div class="topic Report">
                <i class="fa-solid fa-exclamation icon"></i>
                <span>Báo cáo</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>
            
            <div id="column-Report" class="column">
                <a href="#">Báo cáo doanh thu</a>
                <a href="#">Báo cáo chi phí</a>
                <a href="#">Phân tích khách hàng</a>
            </div>
        </div>
    </div>
</div>
