@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model NetCoreMVCLab03.Models.Item

<div class="product">
	<div class="product_product">
		<div>
			<div class="product_img"><img src="@Model.ImgUrl" alt=""></div>
			<div class="product_title"><span>@Model.title</span></div>
		</div>
	</div>
</div>