@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="footer">
	<div class="footer_contaier">
		<div class="footer_contaier_f1 footer_f">
			<div class="footer_f1_Title"><h4>Giới thiệu</h4></div>
			<div class="footer_f1_p">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Debitis ab suscipit deserunt mollitia reiciendis, nobis iure aliquam velit
					et laboriosam ducimus veritatis corporis est, dolores aperiam!
					Officiis impedit provident laboriosam.
				</p>
			</div>
		</div>
		<div class="footer_contaier_f2 footer_f">
			<div class="footer_f2_Title"><h4>Liên hệ</h4></div>
			<div class="footer_f2_p">
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
					Odit amet suscipit quasi quisquam impedit magni molestias.
					Dolores, aliquid commodi ut esse eos voluptatem nisi facilis dolorem,
					repudiandae culpa ea quidem.
				</p>
			</div>
		</div>
	</div>
</div>
