@{

}

<div class="dashboard-container">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Doanh thu hôm nay</h5>
                    <p class="card-text text-success fw-bold">5.200.000₫</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Số đơn hàng</h5>
                    <p class="card-text fw-bold">128</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Khách hàng mới</h5>
                    <p class="card-text fw-bold">15</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Chi nhánh hoạt động</h5>
                    <p class="card-text fw-bold">12</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Biểu đồ doanh thu</h5>
                    <div id="revenueChart" style="height:300px;">
                        <!-- Biểu đồ (Chart.js / ApexCharts) sẽ render ở đây -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hoạt động gần đây</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Nguyễn Văn A đặt 2 ly kem (5 phút trước)</li>
                        <li class="list-group-item">Chi nhánh Hạ Long đạt 1.2 triệu (30 phút trước)</li>
                        <li class="list-group-item">Trần Thị B trở thành khách hàng thành viên</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>