$shadow: #333 ;
$bgr_nav: #C8102E;
$bgr: #ECE6D4;
$bgr_listNav: #FFF3DA;
$color_MenuList: #333333;
$color_hover: #BE0000;
//#9D9D8C
//#969690
//#9D0003
//#FF7B47
//#8C0101
//#DD4400
//#C20000
//#FF6229
//#D61111
//#F9821A
//#DB8675E
//#FEA576
//#900700
//#FF8C38
//#F24B4E
//#ff9661
//#D01806
//#F2A572
